.tbl {
  width: 95%;
  color: #2148c0;
  text-align: left;
  border-collapse: collapse;
  margin: 0px 30px 0px 30px;
}
tr {
  height: 70px;
  border-bottom: 1px solid blue;
}
td,
th {
  padding: 0 50px 0 30px;
}
.editBtn {
  color: black;
  cursor: pointer;
}
.deleteBtn {
  color: red;
  cursor: pointer;
}
.action {
  padding-top: 14%;
  display: flex;
  justify-content: space-between;
}
