.main {
  height: 100vh;
  background: #2148c0;
}
.heading {
  width: 300px;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px; /* 100% */
  text-transform: uppercase;
  padding-top: 30px;
}
.addEmployee {
  padding-left: 20%;
  padding-top: 3%;
  height: 80%;
  width: 100%;
}
.inputDiv {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
  height: 80%;
  padding-bottom: 8%;
}
.buttonDiv {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
}
