.navbar {
  background-color: #2148c0;
  height: 70px;
  width: 95vw;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  color: #fff;
  padding: 0px 30px 0px 40px;
  align-items: center;
  position: fixed;
}
.hamburgerDiv {
  display: flex;
  justify-content: right;
}
